@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;900&display=swap');

.Mint{
  width: 100%;
  height: 100vh;
  position: relative;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mint-background{
  position: absolute;
  width: 100%;
  bottom: 0;
}

.mint-contents{
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* position:absolute; */
  margin: 0 auto;
  padding-bottom: 80px;
}

.mint-desc-container{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 100px;
}

.mint-image{
  width: 330px;
  height: 330px;
}

.mint-desc{
  font-size: 18px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  color: #ffffffa7;
  margin: 20px 0 50px 0;
}

.donate-now{
  width: 200px;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background:  white;
  border-radius: 25px;
  font-size: 18px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
  z-index: 100;
}

.donate-now:hover{
  background-color: #f1f8ff;
  
}

.ruarrow{
  width: 12px;
  height: 12px;
  margin-left: 10px;
}