.Mint{
  width: 100%;
  height: 100vh;
  position: relative;
  object-fit: cover;
}

.mint-background{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40%;
  z-index: 0;
}

.mint-container{
  max-width: 1200px;
  height: 100%;
  
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
}

.mint-contents{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  padding-top: 5%;
}

.mint-description{
  width: 30vw;
  color: white;
  font-size: 20px;
  padding: 40px 0;
  word-break: keep-all;
  text-align: center;
}

.mint-button{
  width: 220px;
  height: 60px;
  background: linear-gradient(to right, #FF3E78, #E76D76);
  border-radius: 30px;
  text-align: center;
  line-height: 60px;

  font-size: 20px;
  color: white;
  font-weight: bold;

  z-index: 1;
}

.mint-button:hover{
  background: #FF3E78;
  scale: 1.05;
}

.mint-figure{
  width: 60%;
  object-fit: contain;
}

.ruarrow{
  width: 16px;
  height: 16px;
  margin-left: 10px;
}