@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;900&display=swap');


.roadmap-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.roadmap-gradient{
    width:100vw;
    height:40vh;
    background: linear-gradient(to right, #FF88A7, #737CFF);
    position:absolute;
    bottom:0;
}

.roadmap-background{
    width: 1920px;
    position:absolute;
    z-index: 1;
}

.roadmap-road-container{
    position:relative;
    display: flex;
}

.roadmap-road1 {
    width: 200px;
    background: #FFFFFF;
    border-radius: 47px;
    padding: 40px 40px 60px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 28px 0 0;
}

.roadmap-road2 {
    width: 200px;
    background: #FFFFFF;
    border-radius: 47px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 240px 28px 0 0;
}

.roadmap-road3 {
    width: 220px;
    background: #FFFFFF;
    border-radius: 47px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 180px 28px 100px 0;
}

.roadmap-road4 {
    width: 220px;
    background: #FFFFFF;
    border-radius: 47px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 240px 0;
}

.roadmap-road-icon{
    width:50px;
    height:50px;
}

.roadmap-road-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 40px;

    color: #000000;
    margin-top:16px;

    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
}

.roadmap-road-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #000000;
    margin-top: 8px;
    margin-bottom: 24px;

    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;

}

.roadmap-road-desc {
    width: 100%;
    word-break:keep-all;
    text-align: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    color: #000000;

    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}
