@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;900&display=swap');


.roadmap-container{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: transparent;
    /* padding: 100px 0 0  0; */
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.roadmap-contents {
    height: 850px;
    width: 1200px;

    /* padding: 20px 0px; */
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;

}

.roadmap-background {
    width: 1280px;
}

.roadmap-road1 {
    width: 200px;
    height: 240px;
    background: #FFFFFF;
    border-radius: 47px;
    padding: 40px;

    position: absolute;
    left: 100px;
    top: 320px;

}


.roadmap-road2 {
    width: 320px;
    height: 190px;
    background: #FFFFFF;
    border-radius: 47px;
    padding: 40px;

    position: absolute;
    left: 405px;
    top: 460px;
}

.roadmap-road3 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 210px;
    height: 210px;
    background: #FFFFFF;
    border-radius: 200px;
    padding: 70px;

    position: absolute;
    left: 835px;
    top: 240px;
}

.roadmap-road-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 40px;

    color: #000000;
    margin-bottom: 6px;

    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
}

.roadmap-road-subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;

    color: #000000;
    margin-bottom: 20px;

    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}

.roadmap-road-desc {
    width: 100%;
    word-break: break-all;

    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #000000;

    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}
