.roadmap-container{
    width: 100%;
    height: 100%;
    display: flex;
    
    /* background-color: antiquewhite; */
    padding: 100px 0 0  0;

}
.roadmap-contents {
    height: 850px;
    width: 1200px;

    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}

.roadmap-background {
    width: 1280px;
}

.roadmap-road1 {
    width: 200px;
    height: 240px;
    background: #FFFFFF;
    border-radius: 47px;
    padding: 40px;

    position: absolute;
    left: 100px;
    top: 180px;

    /* animation:roadmap-road1-slide 1s linear; */
}

@keyframes roadmap-road1-slide {
    from {
        left:-100px;
    }

    to {
        left:100px;
    }
}

.roadmap-road2 {
    width: 320px;
    height: 190px;
    background: #FFFFFF;
    border-radius: 47px;
    padding: 40px;

    position: absolute;
    left: 405px;
    top: 340px;
}

.roadmap-road3 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 210px;
    height: 210px;
    background: #FFFFFF;
    border-radius: 200px;
    padding: 70px;

    position: absolute;
    left: 835px;
    top: 110px;
}

.roadmap-road-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 40px;

    color: #000000;
    margin-bottom: 6px;
}

.roadmap-road-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
    margin-bottom: 20px;
}

.roadmap-road-desc {
    width: 100%;
    word-break: break-all;

    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
}
