@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;900&display=swap');


.main-container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image-container{
  width: 1200px;
  height: 750px;
  position: relative;
}

.main-image{
  width: 1200px;
  height: 750px;
}

.main-description{
  right: 220px;
  top: 360px;
  position: absolute;
  color: #ffffffc7;
  text-align: end;

  font-size: 18px;
  width: 240px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
}