.Carousel {

    /* background-color: azure; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
  }

  .carousel-container-container{
    width: 1200px;
    height: 500px;
  }

  .carousel-container {
    width: 1200px;
    height:50%;
    position: absolute;
  }
  
  .card {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  
    margin: 48px auto;
    /* width: 16vw; */
    /* height: 25vw; */
    width: 25%;
    
    object-fit:contain;
    cursor: pointer;
    z-index: -10;

    opacity: 1;
    transition: 500ms;
  }
  
  .card--active {
    transform: scale(1);
    z-index: 3;
  }
  
  .card--left1 {
    transform: translateX(-75%) scale(0.9);
    filter:brightness(70%);
    z-index: 2;

  }
  
  .card--right1 {
    transform: translateX(75%) scale(0.9);
    filter:brightness(70%);
    z-index: 2;
  }

  .card--right2{
    transform: translateX(125%) scale(0.8);
    filter:brightness(50%);
    z-index: 1;
  }

  .card--left2{
    transform: translateX(-125%) scale(0.8);
    filter:brightness(50%);
    z-index: 1;
  }

  .card--right3{
    transform: translateX(160%) scale(0.7);
    filter:brightness(30%);
    z-index: 0;
  }

  .card--left3{
    transform: translateX(-160%) scale(0.7);
    filter:brightness(30%);
    z-index: 0;
  }