@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;900&display=swap');


.closet-container {
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.closet-contents {
    margin-top: 48px;
    display: flex;
}

.closet-clothes-container {
    width: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;

    opacity: 0.4;
}

.closet-clothes-container:hover{
    opacity: 1;
}

.closet-clothes-container-selected {
    width: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.closet-clothes-image {
    width: 280px;
    height: 200px;
    object-fit: contain;
    margin-bottom: 20px;
}

.closet-clothes-desc-top {
    display: flex;
    align-items: center;

    margin-bottom: 20px;
}

.closet-cothes-name {
    margin: 0 7px 0 0;
    color: white;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Noto Sans KR', sans-serif;
}

.closet-clothes-colorchip {
    width: 16px;
    height: 16px;
}

.closet-clothes-desc-bottom {
    color: white;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.closet-model-container {
    width: 400px;
    height: 600px;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.closet-model-img {
    width: 400px;
    height: 570px;
    object-fit: contain;
    border-radius: 250px;
    border: solid 4px white;
    box-shadow: 0px 0px 24px 2px #324141;
}

.closet-model-name {
    height: 76px;
    width: 258px;
    background-color: black;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8), inset 0px 0px 8px rgba(255, 255, 255, 0.8);
    border-radius: 49px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;

    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
    text-shadow: 0px 0px 9px rgba(255, 255, 255, 0.8);
}