/* @import url('./font/font.css'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;900&display=swap');



.App {

  text-align: center;
  background-color: black;

}

.h3{
  color: white;
  font-size: 40px;
  margin:0px;

  /* font-family: 'SUIT-'; */
  /* font-weight: 900; */
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  margin: 0;
  overflow-y: hidden;
}

.outer {
  height: 100vh;
  overflow-y: auto;
}

.outer::-webkit-scrollbar {
  display: none;
}

@keyframes fade-in {
  from{
    opacity: 0;
  }
  to{
    opacity:100;
  }
}