.App {
  text-align: center;
  background-color: black;
}

.h3{
  color: white;
  font-size: 32px;
  margin:0px
}

body {
  margin: 0;
  overflow-y: hidden;
}

.outer {
  height: 100vh;
  overflow-y: auto;
}

/* 화면에서 스크롤바 안보이게 */
.outer::-webkit-scrollbar {
  display: none;
}

@keyframes fade-in {
  from{
    opacity: 0;
  }
  to{
    opacity:100;
  }
}